body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #003366;
}
<<<<<<< HEAD

input,
textarea {
    width: 400px;
    padding: 8px;
}
=======
>>>>>>> e6217b7ccd1e875edf16eba15957112f446b441f
